<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>caboffice_settings_dropoff_location_is_mandatory</key>
	<false/>
	<key>caboffice_settings_max_active_bookings</key>
	<integer>5</integer>
	<key>caboffice_settings_new_bookings_max_days_ahead</key>
	<integer>7</integer>
	<key>caboffice_start_location_latitude</key>
	<real>51.5171</real>
	<key>caboffice_start_location_longitude</key>
	<real>0.1062</real>
	<key>caboffice_settings_use_alternative_dropoff_label</key>
	<false/>
	<key>caboffice_settings_track_bookings</key>
	<true/>
	<key>caboffice_settings_hide_demo_warning</key>
	<false/>
	<key>caboffice_settings_track_nearby_cabs</key>
	<true/>
	<key>caboffice_settings_use_google_geolocator</key>
	<true/>
	<key>caboffice_settings_enable_location_search_modules</key>
	<true/>
	<key>caboffice_minimum_allowed_pickup_time_offset_in_minutes</key>
	<integer>0</integer>
	<key>caboffice_tos_must_accept_on_signup</key>
	<false/>
	<key>caboffice_tos_url</key>
	<string>http://tdispatch.com/</string>
</dict>
</plist>
